<nav class="custom-shadow p-2 mb-0 header-container">
  <div class="d-flex justify-content-between align-items-center">
    <span class="col-md-3">
      <a class="left logo-container" href="/">
        <img [src]="logoPath" alt="" height="36" width="99"/>
      </a>
    </span>
    <span class="col-md-6">
      <div class="d-flex mx-auto col-md-7 justify-content-center">
        <div class="input-group">
          <span class="input-group-text">
            <i class="bi bi-search"></i>
          </span>
          <input class="form-control" placeholder="Search" type="text">
        </div>
      </div>
    </span>
    <span class="col-md-3 d-flex justify-content-end align-items-center">
        <span class="ml-auto">
          <button class="btn btn-primary btn-send" (click)="uploadButtonClick()">
            <i class="bi bi-upload btn-send-icon"></i>
            <p class="btn-send-text">Upload</p>
          </button>
        </span>
        <span>
          <button class="btn btn-primary btn-messages">
            <i class="bi bi-person-plus"></i>
          </button>
        </span>
        <span>
          <button class="btn btn-primary btn-messages">
            <i class="bi bi-chat-square-text"></i>
          </button>
        </span>
      <span (mouseenter)="toggleDropdown(true)" (mouseleave)="closeDropdown()" class="avatar-container">
        <button [class.show]="isDropdownOpen" aria-expanded="false" aria-haspopup="true" class="avatar-button" id="dropdownMenuButton" type="button">
          <app-avatar></app-avatar>
        </button>
        <div [class.show]="isDropdownOpen" aria-labelledby="dropdownMenuButton" class="dropdown-menu dropdown-menu-right">
          <app-avatar-menu></app-avatar-menu>
        </div>
      </span>
    </span>
  </div>
</nav>
