<div class="col">
    <div class="row" [routerLink]="['/profile']">
        <div class="col list-content-container">
            <i class="bi bi-person item-icon"></i>
            <p class="list-text">Profile</p>
        </div>
    </div>
  <div class="row">
    <div class="col list-content-container">
      <i class="bi bi-gear item-icon"></i>
      <p class="list-text">Settings</p>
    </div>
  </div>
  <div class="row">
    <div class="col list-content-container">
      <i class="bi bi-moon item-icon"></i>
      <p class="list-text">Dark Mode</p>
      <div class="theme-toggle">
        <input type="checkbox" id="theme-toggle-checkbox" class="theme-checkbox" (change)="toggleTheme()" [checked]="isThemeChecked">
        <label for="theme-toggle-checkbox" class="toggle-btn"></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col list-content-container" (click)="logout()">
        <i class="bi bi-box-arrow-right item-icon"></i>
        <p class="list-text">Logout</p>
    </div>
  </div>
</div>
