<div class="card profile-card">
    <div class="card-header position-relative">
        @if (this.profile?.backgroundImage != null) {
            <img [src]="this.profile!.backgroundImage" class="card-img-top" alt="Background Image">
        }
        @if (this.isEditModeBoxVisible) {
           <app-photo-options-menu (imageChanged)="onBackgroundImageChanged($event)" [isProfilePhoto]="false" id="background-photo-menu"></app-photo-options-menu>
        }
    </div>
    <div class="profile-img-container position-absolute">
        <app-avatar [width]="160" [height]="160" [imgSrc]="this.profile?.avatar"></app-avatar>

        @if (this.isEditModeBoxVisible) {
            <app-photo-options-menu (imageChanged)="onProfileImageChanged($event)" [isProfilePhoto]="true" id="profile-photo-menu"></app-photo-options-menu>
        }
    </div>
    <div class="text-center">
        <div class="card-container">
            @if (this.isEditModeBoxVisible) {
                <p class="card-title card-text">
                    <input [(ngModel)]="fullname" [firstLength]="this.fullname.length" appAutoResizeInput class="card-title card-text profile-input" />
                </p>
            }  @else {
                <p class="card-title card-text text-padding">{{ this.fullname }}</p>
            }
            @if (this.isEditModeBoxVisible) {
                <p class="card-text">
                    <input [(ngModel)]="this.profile!.username" [firstLength]="this.profile!.username.length" appAutoResizeInput class="profile-input" />
                </p>
            } @else {
                <p class="card-text text-padding">{{ this.profile!.username }}</p>
            }
        </div>
        <div class="biography-container">
            @if (this.isEditModeBoxVisible) {
                <input [(ngModel)]="this.profile!.biography" [firstLength]="this.profile?.biography?.length" appAutoResizeInput class="profile-input" />
            } @else {
                <p class="biography-text card-text text-padding">{{ this.profile?.biography }}</p>
            }
        </div>
        <div class="text-center">
            <button class="btn btn-primary btn-send" (click)="editProfileOnclick()">
                {{ this.buttonText }}
            </button>
            <button *ngIf="isEditModeBoxVisible" class="btn btn-secondary btn-send cancel-btn" (click)="cancelEdit()">
                Cancel
            </button>
        </div>
    </div>
    <br>
</div>