.content-container {
  margin-left: 20px;
  margin-right: 20px;
  background-color: transparent;
}
.posts-container {
  border: 0 solid var(--hr-color);
  border-left-width: 1px;
  border-right-width: 1px;
  border-radius: 0;
  margin: 0;
  padding: 0;
}
